spring:
    application:
        name: fountation-user-service
    r2dbc:
        url: r2dbc:postgresql://XXXXX:XXXX/XXXX
        username: XXXX
        password: XXXX!
        pool:
            initial-size: 10
            max-size: 20
            max-create-connection-time: 5s
