server:
    port: 0
spring:
    application:
        name: fountation-user-service
    main:
        web-application-type: reactive
    security:
        oauth2:
            resourceserver:
                jwt:
                    jwk-set-uri: http://localhost:9000/oauth2/jwks
eureka:
    client:
        serviceUrl:
            defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    instance:
        preferIpAddress: true
logging:
    level:
        org:
            springframework:
                security:
                    oauth2: TRACE